@import "../../App.scss";

.search {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  width: 40%;
  min-width: 40rem;
  max-width: 50rem;

  &__title {
    color: $color-white;
    font-size: 3rem;
    font-weight: $font-medium;
    text-align: center;
  }

  &__wrapper {
    display: flex;
    border-radius: 1rem;
    overflow: hidden;
  }

  &__bar {
    border: none;
    padding: 1.5rem 2rem;
    width: 100%;
    margin: 0 auto;
    font-size: $font-default;

    &::placeholder {
      color: $dark-gray;
    }

    &:focus {
      outline: none;
    }
  }

  &__btn {
    border: none;
    background-color: $color-black;
    padding: 0 2rem;
  }
}
